<div class="page-header-inner">
    <!-- LOGO -->
    <div class="page-logo">
        <a href="#/dashboard">
            <img src="assets/admin/layout/img/logo.png" alt="logo" class="logo-default"/>
        </a>

        <!-- 侧边栏按钮 -->
        <div class="menu-toggler sidebar-toggler">
        </div>
    </div>

    <!-- 移动端菜单按钮 -->
    <a class="menu-toggler responsive-toggler"
       data-toggle="collapse"
       data-target=".navbar-collapse">
    </a>

    <!-- 用户个人菜单 -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li uib-dropdown class="dropdown dropdown-user">
                <a uib-dropdown-toggle>
                    <img alt="头像" class="img-circle" src="assets/admin/layout/img/avatar3_small.jpg"/>
                    <span class="username username-hide-on-mobile" ng-bind="setting.username"></span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul uib-dropdown-menu>
                    <!--<li>-->
                        <!--<a href="#/profile">-->
                            <!--<i class="icon-user"></i>我的设置</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a>-->
                            <!--<i class="icon-lock"></i>锁定</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#/">
                            <i class="icon-logout"></i>退出</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#/" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
        </ul>
    </div>
</div>