<link href="assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>

<div class="page-on-load page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-quick-sidebar-over-content"
     ng-class="
        {
            'page-container-bg-solid': setting.layout.pageBodySolid,
            'page-sidebar-closed': setting.layout.pageSidebarClosed
        }">

    <div ui-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div class="page-header navbar navbar-fixed-top"
         ng-include="'app/modules/admin/layout/header.html'">
    </div>

    <div class="clearfix">
    </div>

    <div class="page-container">
        <div ng-include="'app/modules/admin/layout/sidebar.html'"
             class="page-sidebar-wrapper">
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                <div ui-view="page" class="fade-in-up">
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'app/modules/admin/layout/footer.html'"
         class="page-footer">
    </div>
</div>

