<div ui-page-sidebar class="page-sidebar navbar-collapse collapse">
    <ul ui-page-sidebar-menu class="page-sidebar-menu"
        data-keep-expanded="false"
        data-auto-scroll="true"
        data-slide-speed="200"
        ng-class="{'page-sidebar-menu-closed': setting.layout.pageSidebarClosed}">
        <li class="start">
            <a href="#/">
                <i class="icon-home"></i>
                <span class="title">主页</span>
            </a>
        </li>
        <li ng-repeat="nav in menus">
            <a ng-href="{{nav.url}}">
                <i class="{{nav.icon}}"></i>
                <span class="title" ng-bind="nav.name"></span>
                <span ng-if="nav.menus && nav.menus.length > 0" class="arrow "></span>
            </a>
            <ul ng-if="nav.menus && nav.menus.length > 0"
                class="sub-menu">
                <li ng-repeat="menu in nav.menus">
                    <a ng-href="{{menu.url}}">
                        <i class="{{menu.icon}}"></i><span ng-bind="menu.name"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>