<div class="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><i class="fa fa-phone"></i><a href="tel:{{setting.tel}}" ng-bind="setting.tel"></a></li>
                    <li><i class="fa fa-envelope-o"></i><a href="mailto://{{setting.email}}"
                                                           ng-bind="setting.email"></a></li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li ng-show="!setting.isAuthenticated"><a ng-click="login()">登录</a></li>
                    <li ng-show="!setting.isAuthenticated"><a href="#/register">注册</a></li>
                    <li ng-show="setting.isAuthenticated"><a ng-bind="setting.username"></a></li>
                    <li ng-show="setting.isAuthenticated"><a href="#/dashboard">后台管理</a></li>
                    <li ng-show="setting.isAuthenticated"><a ng-click="logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="container">
        <a class="site-logo" href="#/">
            <img src="assets/frontend/default/img/logos/logo-corp-red.png"
                 alt="Metronic FrontEnd">
        </a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <div class="header-navigation pull-right font-transform-inherit">
            <ul>
                <li class="dropdown"
                    ng-repeat="nav in menus">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       data-target="#" href="#"
                       ng-bind="nav.name">
                    </a>
                    <ul class="dropdown-menu"
                        ng-if="nav.menus && nav.menus.length">
                        <li class="dropdown-submenu" ng-repeat="menu in nav.menus">
                            <a href="{{menu.url}}">
                                {{menu.name}}
                                <i ng-if="menu.menus && menu.menus.length" class="fa fa-angle-right"></i>
                            </a>
                            <ul ng-if="menu.menus && menu.menus.length"
                                class="dropdown-menu">
                                <li ng-repeat="subMenu in menu.menus">
                                    <a href="{{subMenu.url}}"
                                       ng-bind="subMenu.name">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn"></i>

                    <div class="search-box">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-slider margin-bottom-40">
    <uib-carousel>
        <uib-slide ng-repeat="slide in slides">
            <img ng-src="{{slide.image}}">

            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>

                <p>{{slide.content}}</p>
            </div>
        </uib-slide>
    </uib-carousel>
</div>