<div class="page-header">
    <div class="page-header-top">
        <div class="container">
            <div class="page-logo">
                <a href="#/dashboard">
                   <h2 style="color:darkseagreen;">Howonder</h2>
                </a>
            </div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li uib-dropdown class="dropdown dropdown-user dropdown-dark">
                        <a uib-dropdown-toggle href="javascript:;" class="dropdown-toggle">
                            <img alt="头像" class="img-circle" src="assets/img/avatar.png">
                            <span class="username username-hide-mobile">张三</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="#/profile/dashboard">
                                    <i class="icon-user"></i> 个性化
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-calendar"></i> 我的日历
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-envelope-open"></i> 我的信息 <span class="badge badge-danger">
                                        3
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/todo">
                                    <i class="icon-rocket"></i> 我的任务 <span class="badge badge-success">
                                        7
                                    </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-key"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-header-menu">
        <div class="container">
            <form class="search-form" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </form>
            <div class="hor-menu">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#/dashboard">仪表板</a>
                    </li>
                    <li uib-dropdown class="menu-dropdown classic-menu-dropdown ">
                        <a uib-dropdown-toggle href="#" class="dropdown-toggle">
                            AngularJS <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/ui_bootstrap.html" class="iconify">
                                    <i class="icon-puzzle"></i>
                                    UI Bootstrap
                                </a>
                            </li>
                            <li>
                                <a href="#/file_upload.html" class="iconify">
                                    <i class="icon-paper-clip"></i>
                                    文件上传
                                </a>
                            </li>
                            <li>
                                <a href="#/ui_select.html" class="iconify">
                                    <i class="icon-check"></i>
                                    选择控件
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>