<ul class="nav nav-tabs" style="margin-bottom:1em">
    <li role="presentation" class="active"><a href="#/customer">业主</a></li>
    <li role="presentation"><a href="#/customer">客户</a></li>
    <li role="presentation"><a href="#/customer">老客户</a></li>
    <form class="navbar-form navbar-right" style="margin:0" role="search">
        <a href="#/customer/add" class="btn btn-default">添加客户</a>
        <a href="#/customer/add" class="btn btn-default">批量提交</a>
        <a href="#/customer/add" class="btn btn-default">批量审核</a>
        <a class="btn btn-default" ng-click="removeAll()">批量删除</a>
        <!--<a style="font-size:.9em;vertical-align:middle;" ng-click="removeAll()">批量删除</a>-->
    </form>
</ul>
<div class="row" ng-show="sampleShow">
    <div class="col-sm-10">
        <div class="input-group">
            <div class="input-group-btn" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>代码 <span class="caret"></span></button>
                <ul uib-dropdown-menu class="dropdown-menu">
                    <li><a>代码</a></li>
                    <li><a>姓名</a></li>
                    <li><a>电话</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" aria-label="...">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;搜索</button>
            </span>
        </div>
    </div>
    <div class="col-sm-2">
        <a class="glyphicon glyphicon-collapse-down" style="padding-top: 5px;" ng-click="quickSearch()">高级搜索</a>
    </div>
</div>
<div class="row" ng-show="complexShow">
    <div class="col-sm-10">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">关键字</label>
                <div class="input-group" style="padding-right: 15px;">
                    <div class="input-group-btn" uib-dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>代码 <span class="caret"></span></button>
                        <ul uib-dropdown-menu class="dropdown-menu">
                            <li><a>代码</a></li>
                            <li><a>姓名</a></li>
                            <li><a>电话</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" aria-label="...">
                </div>
            </div>
            <div class="form-group" style="padding-right: 15px;">
                <label for="txtCode" class="col-md-1 control-label">等级</label>
                <div class="col-md-5" style="padding-left: 0;padding-right: 0">
                    <input type="email" class="form-control" id="txtCode" placeholder="">
                </div>
                <label for="txtName" class="col-lg-1 control-label">状态</label>
                <div class="col-md-5" style="padding-left: 0;padding-right: 0">
                    <input type="password" class="form-control" id="txtName" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-10">
                    <button type="button" class="btn btn-info glyphicon glyphicon-search"
                            ng-click="save()">
                        搜索
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="vertical-align:middle;font-size:.9em;">清空搜索条件</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-2">
        <a class="glyphicon glyphicon-collapse-up" ng-click="quickSearch()" style="padding-top: 5px;">收起高级搜索</a>
    </div>
</div>
<div class="row" style="padding-left:15px;padding-right:15px;padding-top: 10px;">
    <table class="table table-hover table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th style="text-align:center"><input type="checkbox" ng-model="chkAll" ng-click="all(chkAll,list)" /></th>
                <th style="text-align:center" class="col-sm-1">代码</th>
                <th style="text-align:center" class="col-sm-3">姓名</th>
                <th style="text-align:center" class="col-sm-2">电话</th>
                <th style="text-align:center" class="col-sm-2">共享状态</th>
                <th style="text-align:center" class="col-sm-2">等级</th>
                <th style="text-align:center" class="col-sm-1">状态</th>
                <!--<th class="col-sm-2">操作</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td style="text-align:center">
                    <input type="checkbox" ng-model="item.__checked" ng-checked="chkAll" />
                </td>
                <td style="text-align:center"><a href="#/customer/detail/{{item.Id}}">{{item.Code}}</a></td>
                <td style="text-align:center">{{item.Name}}</tdstyle>
                <td style="text-align:center">{{item.Tel}}</td>
                <td style="text-align:center">{{item.ShareStatus}}</td>
                <td style="text-align:center">{{item.Level}}</td>
                <td style="text-align:center">{{item.Status | customerStatus}}</td>
                <!--<td>
                    <a href="#/reportdatasourceEdit/{{item.Id}}" class="btn btn-success btn-xs">编辑</a>
                    <button type="button" ng-click="remove(item)" class="btn btn-danger btn-xs">删除</button>
                </td>-->
            </tr>
        </tbody>
        <tbody ng-if="loadingState">
            <tr>
                <td colspan="8" class="text-center">
                    正在加载...
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="!loadingState">
            <tr>
                <td colspan="7">
                    <div class="pager">
                        <pagination style="margin:0" boundary-links="true" total-items="total" ng-model="current" max-size="5" ng-change="search(true)" items-per-page="size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        <span class="ng-binding" style="float:right;padding:5px 20px;text-align:center">共有{{total}}条，每页显示：{{size}}条</span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
