<form class="form-horizontal" name="datasource">
    <div class="form-group">
        <label class="col-sm-1 control-label">代码</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="code" ng-model="model.Code" ng-disabled="disable" placeholder="" required>
        </div>
        <div class="col-sm-4">
            <span class="text-danger" ng-show="datasource.code.$invalid">请输入用户代码</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">名称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" ng-model="model.Name" ng-disabled="disable" placeholder="" required>
        </div>
        <div class="col-sm-4">
            <span class="text-danger" ng-show="datasource.name.$invalid">请输入用户姓名</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">数据库</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" ng-model="model.Database" ng-disabled="disable" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">产品</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" ng-model="model.Product" ng-disabled="disable" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success glyphicon glyphicon-save"
                    ng-disabled="disable || !datasource.$dirty || datasource.$invalid"
                    ng-click="save()">
                保存
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-default glyphicon glyphicon-share-alt"
                    ng-click="back(datasource.$dirty)">
                返回
            </button>
        </div>
    </div>
</form>