<a href="/" target="_self" class="logo">
    <span class="logo-mini"><b><i class="glyphicon glyphicon-yen"></i></b></span>
    <span class="logo-lg"><b>DEMO</b></span>
</a>

<nav class="navbar navbar-static-top" role="navigation">
    <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <li class="dropdown user user-menu">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <span>{用户名}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <!--<img class="img-circle" alt="头像"/>-->
                        <p>
                            姓名
                            <small>账号</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-right">
                            <a class="btn btn-default btn-flat">
                                <i class="glyphicon glyphicon-log-out"></i>
                                退出
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>