<!--<link href="assets/backend/layout/css/layout.css" rel="stylesheet" type="text/css"/>-->
<!--<link href="assets/backend/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>-->
<link href="assets/backend/layout/css/site.css" rel="stylesheet" type="text/css"/>

<header class="hfe-header navbar navbar-fixed-top">
    <div class="container-fluid" ng-include="'modules/backend/layout/header.html'">
    </div>
</header>
<main class="hfe-main container-fluid">
    <div class="row">
        <div class="hfe-main-sidebar col-md-2"
             ng-include="'modules/backend/layout/sidebar.html'">
        </div>
        <div class="hfe-main-content col-md-10">
            <div ng-include="'modules/backend/layout/page-head.html'"></div>
            <div ui-view></div>
        </div>
    </div>
</main>
<footer class="hfe-footer navbar-fixed-bottom"
        ng-include="'modules/backend/layout/footer.html'">
</footer>