<div ng-controller="navbarController">
    <ul ui-page-sidebar-menu class="nav nav-stacked">
        <li class="start">
            <a href="#/dashboard">
                <i class="icon-home"></i>
                <span class="title">仪表板</span>
            </a>
        </li>
        <li ng-repeat="nav in menus">
            <a ng-href="{{nav.url}}">
                <i class="{{nav.icon}}"></i>
                <span class="title" ng-bind="nav.name"></span>
                <!--<span ng-if="nav.menus && nav.menus.length > 0" class="arrow"></span>-->
            </a>
            <ul ng-if="nav.menus && nav.menus.length > 0"
                class="sub-menu nav nav-stacked">
                <li ng-repeat="menu in nav.menus">
                    <a ng-href="{{menu.url}}">
                        <i class="{{menu.icon}}"></i><span ng-bind="menu.name"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>