.hfe-header {
    background-color: #364150;
    color: #79869a;
    padding: 5px;
}

.hfe-main {
    margin-top: 60px;
    color: #79869a;
}

.hfe-main-content {
    background-color: #fff;

    overflow: auto;
}

.hfe-main-sidebar {
    background-color: #364150;
    color: #79869a;

}

.nav .sub-menu{
    margin-left: 25px;
}

.hfe-footer {
    background-color: #364150;
    color: #79869a;
    padding: 0.33em;
}

.hfe-header li > a,
.hfe-main-sidebar li > a{
    color: #b4bcc8;
}

.hfe-header li > a:active,
.hfe-header li > a:focus,
.hfe-header li > a:hover,
.hfe-main-sidebar li > a:active,
.hfe-main-sidebar li > a:focus,
.hfe-main-sidebar li > a:hover{
    color: #959fae;
    background-color: #3e4b5c !important;
}

.hfe-hfe-header .nav .open>a,
.hfe-hfe-header .nav .open>a:focus,
.hfe-hfe-header .nav .open>a:hover,
.hfe-main-sidebar .nav .open>a,
.hfe-main-sidebar .nav .open>a:focus,
.hfe-main-sidebar .nav .open>a:hover {
    background-color: transparent !important;
}

@media (min-width: 992px) {
    html, body{
        height: 100%;
        overflow: hidden;
    }

    .hfe-main,
    .hfe-main .row,
    .hfe-main-sidebar {
        height: 100%;
    }

    .hfe-main-content{
        height: 90%;
    }
}